{#
/**
 * @file
 * Theme override for the search form submit button.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<div class="col-lg-4 col-md-10 col-8 ">
<button {{ attributes|without('class')}} class="form-control">
{{ attributes.value }}
</button>
</div>
{{ children }}
