{#
/**
* @file
* Theme override to display a view of unformatted rows.
*
* Available variables:
* - title: The title of this group of rows. May be empty.
* - rows: A list of the view's row items.
* - attributes: The row's HTML attributes.
* - content: The row's content.
* - view: The view object.
* - default_row_class: A flag indicating whether default classes should be
* used on rows.
*
* @see template_preprocess_views_view_unformatted()
*/
#}
{% if title %}
<h3>{{ title }}</h3>
{% endif %}
<div class="row">
  {% for row in rows %}
  {%
  set row_classes = [
  default_row_class ? 'views-row',
  ]
  %}
  <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex align-items-center">
    {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_about_body }}'] }}
  </div>

  <div class="col-lg-6 col-12">
    <div class="about-text-wrap">
      {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_about_image }}'] }}
      <div class="about-text-info d-flex">
        <div class="d-flex">
          <i class="about-text-icon bi-person"></i>
        </div>
        {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_caption }}'] }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>