{#
/**
* @file
* Theme override to display a view of unformatted rows.
*
* Available variables:
* - title: The title of this group of rows. May be empty.
* - rows: A list of the view's row items.
* - attributes: The row's HTML attributes.
* - content: The row's content.
* - view: The view object.
* - default_row_class: A flag indicating whether default classes should be
* used on rows.
*
* @see template_preprocess_views_view_unformatted()
*/
#}
{% if title %}
<h3>{{ title }}</h3>
{% endif %}
<div class="row justify-content-center">
  {% for row in rows %}
  {%
  set row_classes = [
  default_row_class ? 'views-row',
  ]
  %}
<div class="col-lg-5 col-12">
  <div class="artists-thumb">
    <div class="artists-image-wrap">
      {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_artist_img }}'] }}
    </div>

    <div class="artists-hover">
      {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_artist_name }}'] }}
      <p>
        <strong>Birthdate:</strong>
        {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_birthdate }}'] }}
      </p>

      {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_music }}'] }}

      <hr>

      <p class="mb-0">
        <strong>Youtube Channel:</strong>
        {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_youtube }}'] }}
      </p>
    </div>
  </div>
</div>
  {% endfor %}
</div>