{#
/**
* @file
* Theme override to display a view of unformatted rows.
*
* Available variables:
* - title: The title of this group of rows. May be empty.
* - rows: A list of the view's row items.
* - attributes: The row's HTML attributes.
* - content: The row's content.
* - view: The view object.
* - default_row_class: A flag indicating whether default classes should be
* used on rows.
*
* @see template_preprocess_views_view_unformatted()
*/
#}
{% if title %}
<h3>{{ title }}</h3>
{% endif %}
<div class="row">
  {% for row in rows %}
  {%
  set row_classes = [
  default_row_class ? 'views-row',
  ]
  %}
  {%
  set outerDivClasses = [
    'col-lg-6 col-12',
    'col-lg-6 col-12 mt-4 mt-lg-0'
  ]
%}
{%- set index = loop.index0 %}
  <div class="{{ outerDivClasses[index % outerDivClasses|length] }}">
    <div class="pricing-thumb">
      <div class="d-flex">
        <div>
          {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_pricingfield }}'] }}
          {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_sub_heading }}'] }}
        </div>
        {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_content }}'] }}
      </div>
     
        {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_points }}'] }}

      <a class="link-fx-1 color-contrast-higher mt-4">
        <span>{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_buy }}'] }}</span>
        <svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="16" cy="16" r="15.5"></circle>
            <line x1="10" y1="18" x2="16" y2="12"></line>
            <line x1="16" y1="12" x2="22" y2="18"></line>
          </g>
        </svg>
      </a>

    </div>
  </div>
  {% endfor %}
</div>