{#
/**
* @file
* Theme override to display a view of unformatted rows.
*
* Available variables:
* - title: The title of this group of rows. May be empty.
* - rows: A list of the view's row items.
* - attributes: The row's HTML attributes.
* - content: The row's content.
* - view: The view object.
* - default_row_class: A flag indicating whether default classes should be
* used on rows.
*
* @see template_preprocess_views_view_unformatted()
*/
#}
{% if title %}
<h3>{{ title }}</h3>
{% endif %}

{% for row in rows %}
<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-12 mt-auto mb-5 text-center">
      {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_sub_title }}'] }}
      {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_main_title }}'] }}
      {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_button }}'] }}
    </div>
    <div class="col-lg-12 col-12 mt-auto d-flex flex-column flex-lg-row text-center">
      <div class="date-wrap">
        <h5 class="text-white">
          <i class="custom-icon bi-clock me-2"></i>
          {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_event_date }}'] }}
        </h5>
      </div>
      <div class="location-wrap mx-auto py-3 py-lg-0">
        <h5 class="text-white">
          <i class="custom-icon bi-geo-alt me-2"></i>
          {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_location }}'] }}
        </h5>
      </div>
      <div class="social-share">
        <ul class="social-icon d-flex align-items-center justify-content-center">
          <span class="text-white me-3">Share:</span>

          <li class="social-icon-item">
            <a href="#" class="social-icon-link">
              <span class="bi-facebook"></span>
            </a>
          </li>

          <li class="social-icon-item">
            <a href="#" class="social-icon-link">
              <span class="bi-twitter"></span>
            </a>
          </li>

          <li class="social-icon-item">
            <a href="#" class="social-icon-link">
              <span class="bi-instagram"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endfor %}