{#
/**
* @file
* Theme override to display a view of unformatted rows.
*
* Available variables:
* - title: The title of this group of rows. May be empty.
* - rows: A list of the view's row items.
* - attributes: The row's HTML attributes.
* - content: The row's content.
* - view: The view object.
* - default_row_class: A flag indicating whether default classes should be
* used on rows.
*
* @see template_preprocess_views_view_unformatted()
*/
#}
{% if title %}
<h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
{%
set row_classes = [
default_row_class ? 'views-row',
]
%}
<div class="col-lg-8 col-12 mx-auto">

  <nav class="d-flex justify-content-center">
    <div class="nav nav-tabs align-items-baseline justify-content-center" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-ContactForm-tab" data-bs-toggle="tab" data-bs-target="#nav-ContactForm"
        type="button" role="tab" aria-controls="nav-ContactForm" aria-selected="false">
        {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_contact_label }}'] }}
      </button>

      <button class="nav-link" id="nav-ContactMap-tab" data-bs-toggle="tab" data-bs-target="#nav-ContactMap"
        type="button" role="tab" aria-controls="nav-ContactMap" aria-selected="false">
        {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_map_label }}'] }}
      </button>
    </div>
  </nav>

  <div class="tab-content shadow-lg mt-5" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-ContactForm" role="tabpanel" aria-labelledby="nav-ContactForm-tab">
      <form class="custom-form contact-form mb-5 mb-lg-0" action="#" method="post" role="form">
        <div class="contact-form-body">
            {{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_contact_form }}'] }}
        </div>
      </form>
    </div>

    <div class="tab-pane fade" id="nav-ContactMap" role="tabpanel" aria-labelledby="nav-ContactMap-tab">
      <iframe class="google-map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29974.469402870927!2d120.94861466021855!3d14.106066818082482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd777b1ab54c8f%3A0x6ecc514451ce2be8!2sTagaytay%2C%20Cavite%2C%20Philippines!5e1!3m2!1sen!2smy!4v1670344209509!5m2!1sen!2smy"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      <!-- You can easily copy the embed code from Google Maps -> Share -> Embed a map // -->
    </div>
  </div>
</div>
{% endfor %}