
  <header class="site-header">
    <div class="container">
      <div class="row">
        {{ page.topbar }}
      </div>
    </div>
  </header>


<nav class="navbar navbar-expand-lg">
  <div class="container">
    {{ page.header }}

    <a href="/ticket-page" class="btn custom-btn d-lg-none ms-auto me-4">Buy Ticket</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      {{ page.navigation }}
      {% if festava_menubutton_sectionlink is not empty %}
      <a href="{{ festava_menubutton_sectionlink }}" class="btn custom-btn d-lg-block d-none">Buy Ticket</a>
      {% endif %}
    </div>
  </div>
</nav>



<section class="ticket-section section-padding" id="section_ticket">
  <div class="section-overlay"></div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-10 mx-auto">
        <form class="custom-form ticket-form mb-5 mb-lg-0" action="#" method="post" role="form">
          {{page.content}}
        </form>
      </div>
    </div>
  </div>
</section>



<footer class="site-footer">
  <div class="site-footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12">
          {{page.footer_top}}
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-lg-end align-items-center">
          {% include '@festeva/layout/social-icons.html.twig' %}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mb-4 pb-2">

        {{ page.footer_links }}
      </div>
      <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
        {% if festava_queries_phone is not empty %}
        <h5 class="site-footer-title mb-3">Have a question?</h5>

        <p class="text-white d-flex mb-1">
          <a href="tel:{{festava_queries_phone}}" class="site-footer-link">
            {{festava_queries_phone}}
          </a>
        </p>

        <p class="text-white d-flex">
          <a href="mailto:{{festava_queries_email}}" class="site-footer-link">
            {{festava_queries_email}}
          </a>
        </p>
        {% endif %}
      </div>
      <div class="col-lg-3 col-md-6 col-11 mb-4 mb-lg-0 mb-md-0">
        {% if festava_locationdetails_address and festava_locationdetails_mapurl is not empty %}
        <h5 class="site-footer-title mb-3">Location</h5>
        <p class="text-white d-flex mt-3 mb-2">
          {{festava_locationdetails_address}}</p>
        <a class="link-fx-1 color-contrast-higher mt-3" href="{{festava_locationdetails_mapurl}}">
          <span>Our Maps</span>
          <svg class="icon" viewbox="0 0 32 32" aria-hidden="true">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="16" cy="16" r="15.5"></circle>
              <line x1="10" y1="18" x2="16" y2="12"></line>
              <line x1="16" y1="12" x2="22" y2="18"></line>
            </g>
          </svg>
        </a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="site-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-12 mt-5">
          <p class="copyright-text">
            {{festava_copyright_copyrightinfo}}
          </p>
        </div>
        <div class="col-lg-8 col-12 mt-lg-5">
          {{ page.footer_bottom }}
        </div>
      </div>
    </div>
  </div>
</footer>