 <ul class="social-icon d-flex justify-content-lg-end">
            <li class="social-icon-item">
              <a href="https://twitter.com/" class="social-icon-link" target='_blank'>
                <span class="bi-twitter"></span>
              </a>
            </li>

            <li class="social-icon-item">
              <a href="https://www.apple.com/" class="social-icon-link" target='_blank'>
                <span class="bi-apple"></span>
              </a>
            </li>

            <li class="social-icon-item">
              <a href="https://www.instagram.com/" class="social-icon-link" target='_blank'>
                <span class="bi-instagram"></span>
              </a>
            </li>

            <li class="social-icon-item">
              <a href="https://www.youtube.com/" class="social-icon-link" target='_blank'>
                <span class="bi-youtube"></span>
              </a>
            </li>

            <li class="social-icon-item">
              <a href="https://in.pinterest.com/" class="social-icon-link" target='_blank'>
                <span class="bi-pinterest"></span>
              </a>
            </li>
          </ul>